html, body {
  margin: 0;
  padding: 0;
  background-color: #e0e4d9;
  font-family: 'EB Garamond', sans-serif;
  text-align: center; 
  font-size: 25px;
  color: #605747;
}
canvas {
  display: block;
}
ul {
  text-align: left;
}

.headingA {
  font-family: 'Fasthand', sans-serif;
  font-size: 50px;
  font-style: normal;
  /* font-weight: bold; */
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #605747;
}

.headingA:hover{
  color: #c4b8a8;
  text-shadow: darkgray;
}

.line {
  width: 100%;
  height: 1.5px;
  background-color: rgb(210, 207, 208);
  transition: width 2s;
}

.line:hover {
  background-color: #6c6457;
}

.instruction:hover{
  color:#688789;
}

.instructionB:hover{
  color:#a2998a;
}

#intro {
  color:#6c6457;
}

.navi {
  /* navigation bar learned from w3school.com */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #bbb7b2; */
}

.naviLi {
  float: left;
}

.naviLi a {
  display: block;
  color: #b2a286;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.naviLi a:hover:not(.active) {
  background-color: #bbb7b2;
}

.active{
  background-color: #d9d1c4;
}

a:visited {
  color: #b2a286;
}

a:hover {
  color: #6c848c;
  transition: color 0.5s ease-in-out;
}

a:active {
  color: #8e9190;
}
